<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="url" value="jdbc:hsqldb:hsql://localhost/dbMID;hsqldb.write_delay=false;" />
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="username" value="SA" />
	</bean>
	<bean id="jdbc" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="T1" class="b.SpringMID.core.Framework" lazy-init="true">
		<property name="routedList">
			<list>
				<value>in1</value>
			</list>
		</property>
	</bean>
	<bean id="T2" class="b.SpringMID.core.Framework" lazy-init="true">
		<property name="routedList">
			<list>
				<value>biz-sample-1</value>
			</list>
		</property>
	</bean>
	<bean id="plt.proxy" class="b.SpringMID.core.Framework" lazy-init="true">
		<property name="routedList">
			<list>
				<value>DMPROXY</value>
			</list>
		</property>
	</bean>
	<bean id="manager" class="b.SpringMID.core.rm.RunningManagerDB" />
	<bean id="ISC" class="b.SpringMID.core.isc.ISCZeroMQ" />
	<bean id="DMPROXY" class="b.SpringMID.core.isc.DMProxyZeroMQ" />
	<bean id="in1" class="b.SpringMID.channel.Timer" p:channelId="timer" />
	<bean id="in2" class="b.SpringMID.channel.Timer" p:channelId="timer" />
	<bean id="biz-sample-1" class="b.SpringMID.business.Sample" />
	<bean id="out" class="b.SpringMID.channel.Core" p:channelId="core" />
</beans>