<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="url" value="jdbc:hsqldb:hsql://localhost/dbMID;hsqldb.write_delay=false;" />
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="username" value="SA" />
	</bean>
	<bean id="jdbc" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="T1" class="b.SpringMID.core.Framework" lazy-init="true">
		<property name="routedList">
			<list>
				<value>ISC</value>
				<value>DMPROXY1</value>
				<value>in1</value>
			</list>
		</property>
	</bean>
	<bean id="T2" class="b.SpringMID.core.Framework" lazy-init="true">
		<property name="routedList">
			<list>
				<value>ISC</value>
				<value>DMPROXY2</value>
				<value>biz-sample-1</value>
			</list>
		</property>
	</bean>
	<bean id="plt.proxy1" class="b.SpringMID.core.Framework" lazy-init="true">
		<property name="routedList">
			<list>
				<value>DMPROXY1</value>
			</list>
		</property>
	</bean>
	<bean id="plt.proxy2" class="b.SpringMID.core.Framework" lazy-init="true">
		<property name="routedList">
			<list>
				<value>DMPROXY2</value>
			</list>
		</property>
	</bean>
	<bean id="router" class="b.SpringMID.core.isc.RouterByDB">
		<property name="jdbc">
			<ref bean="jdbc" />
		</property>
	</bean>
	<bean id="ISCRouter" class="b.SpringMID.core.isc.ISCRouterByDB">
		<property name="jdbc">
			<ref bean="jdbc" />
		</property>
	</bean>
	<bean id="register" class="b.SpringMID.core.isc.RegisterByDB">
		<property name="jdbc">
			<ref bean="jdbc" />
		</property>
	</bean>
	<bean id="ISC" class="b.SpringMID.core.isc.ISCZeroMQ" lazy-init="true" />
	<bean id="DMPROXY1" class="b.SpringMID.core.isc.DMProxyZeroMQ" p:replyPort="12011" lazy-init="true" />
	<bean id="DMPROXY2" class="b.SpringMID.core.isc.DMProxyZeroMQ" p:requestPort="12012" lazy-init="true" />
	<bean id="in1" class="b.SpringMID.channel.Timer" p:channelId="timer" lazy-init="true" />
	<bean id="in2" class="b.SpringMID.channel.Timer" p:channelId="timer" lazy-init="true" />
	<bean id="biz-sample-1" class="b.SpringMID.business.Sample" lazy-init="true" />
	<bean id="out" class="b.SpringMID.channel.Core" p:channelId="core" lazy-init="true" />
	<bean id="fix1" class="b.SpringMID.adapter.Parser" lazy-init="true" p:id="test1" p:pckId="FIX1" />
	<bean id="pckconfer" class="b.SpringMID.adapter.test.PckConferByDB" lazy-init="true" >
		<property name="jdbc">
			<ref bean="jdbc" />
		</property>
	</bean>
	<bean id="converter.fix" class="b.SpringMID.adapter.test.FixPckConverter" lazy-init="true" />
	<bean id="converter.div" class="b.SpringMID.adapter.test.DivPckConverter" lazy-init="true" p:div="," />
</beans>